*.[oa]
*~
.*
build/
hermes_arm_kdl/bin/
hermes_arm_kdl/src/
hermes_arm_kdl/srv_gen/
hermes_camera_calibration/bin/
hermes_arm_kdl/bin/
hermes_arm_kdl/src/
hermes_arm_kdl/srv_gen/
hermes_camera_calibration/
hermes_grasp_database/
hermes_grasp_service/CATKIN_IGNORE
hermes_grasp_service/bin/
hermes_grasp_service/catkin/
hermes_grasp_service/catkin_generated/
hermes_grasp_service/cmake_install.cmake
hermes_grasp_service/devel/
hermes_grasp_service/gtest/
hermes_grasp_service/src/
hermes_grasp_service/srv_gen/
hermes_move_arm_action/CMakeCache.txt
hermes_move_arm_action/CMakeFiles/
hermes_move_arm_action/CTestTestfile.cmake
hermes_move_arm_action/bin/
hermes_move_arm_action/catkin/
hermes_move_arm_action/catkin_generated/
hermes_move_arm_action/cmake_install.cmake
hermes_move_arm_action/devel/
hermes_move_arm_action/gtest/
hermes_move_arm_action/msg_gen/
hermes_move_arm_action/src/
hermes_move_arm_action/srv_gen/
hermes_move_arm_action/lib/
hermes_reference_frames_service/bin/
hermes_reference_frames_service/src/
hermes_reference_frames_service/srv_gen/
hermes_scenario/
hermes_moveit/left_hand_moveit_generated/default_warehouse_mongo_db
hermes_moveit/right_hand_moveit_generated/default_warehouse_mongo_db
hermes_moveit/hermes_arm_moveit_generated/default_warehouse_mongo_db
hermes_moveit/hermes_moveit_generated/default_warehouse_mongo_db

