<launch>
    <param name="robot_description" command="cat $(find hermes_arm_kdl)/urdf/hermesArm.urdf" />
    <node pkg="tf" type="static_transform_publisher" name="world" args="0 0 0 0 0 0 map world 100" />
    <node pkg="tf" type="static_transform_publisher" name="base" args="0 0 0 0 0 0 base map 100" />
    <node pkg="tf" type="static_transform_publisher" name="link1" args="0 0 0 0 0 0 link1 base 100" />
    <node pkg="tf" type="static_transform_publisher" name="link2" args="0 0 0 0 0 0 link2 link1 100" />
    <node pkg="tf" type="static_transform_publisher" name="link3" args="0 0 0 0 0 0 link3 link2 100" />
    <node pkg="tf" type="static_transform_publisher" name="link4" args="0 0 0 0 0 0 link4 link3 100" />
    <node pkg="tf" type="static_transform_publisher" name="link5" args="0 0 0 0 0 0 link5 link4 100" />
    <node pkg="tf" type="static_transform_publisher" name="link6" args="0 0 0 0 0 0 link6 link5 100" />
    <node pkg="tf" type="static_transform_publisher" name="link7" args="0 0 0 0 0 0 link7 link6 100" />
</launch>
