<?xml version="1.0"?>

<launch>

  <!-- fiducial marker detection -->
  <include file="$(find hermes_scenario)/ros/launch/cob_fiducials/fiducials.launch"/>
  
  <!-- continuous camera registration in tf tree -->
  <include file="$(find hermes_camera_calibration)/ros/launch/camera_calibration.launch"/>
  
  <!-- database for transferring object detections into valid grasp positions -->
  <include file="$(find hermes_grasp_database)/ros/launch/grasp_database_server.launch"/>

  <!-- service for executing grasp commands -->
  <!--include file="$(find hermes_grasp_service)/ros/launch/grasp_service_server.launch"/-->

  <!-- service for executing arm movement commands -->
  <!--include file="$(find hermes_move_arm_action)/ros/launch/move_arm_action_server.launch"/-->
  
</launch>
