<?xml version="1.0"?>

<launch>

  <!-- static transforms -->
  <node pkg="tf" type="static_transform_publisher" name="link_world2marker_broadcaster" args="0.125 -0.0505 1.596 1.57079632679 0.0 1.57079632679 world marker_robot 10" />

  <node pkg="tf" type="static_transform_publisher" name="link_world2pillar_broadcaster" args="0 0 0 0 0 0 world pillar 10" />

  <!-- fiducial marker detection -->
  <include file="$(find hermes_scenario)/ros/launch/cob_fiducials/fiducials.launch"/>
  
  <!-- continuous camera registration in tf tree -->
  <include file="$(find hermes_camera_calibration)/ros/launch/camera_calibration.launch"/>
  
  <!-- database for transferring object detections into valid grasp positions -->
  <include file="$(find hermes_grasp_database)/ros/launch/grasp_database_server.launch"/>

  <!-- service for executing grasp commands -->
  <include file="$(find hermes_grasp_service)/ros/launch/grasp_service_server.launch"/>

  <!-- segmentation for shoe detection -->
  <include file="$(find cob_object_categorization)/ros/launch/object_segmentation.launch"/>

  <!-- shoe detection -->
  <include file="$(find cob_object_categorization)/ros/launch/object_categorization.launch"/>

  <!-- arm planning + moveit -->
  <include file="$(find hermes_moveit_generated)/launch/hermes.launch"/>

  <!-- upload obstacles -->
  <node pkg="hermes_scenario" name="add_obstacles" type="MoveItAddObstacle.py"/>
  
</launch>
