<launch>
	<!-- TF world to pillar -->
	<node pkg="tf" type="static_transform_publisher" name="map_world" args="1 0 0 0 0 0 map world 100" />
	<node pkg="tf" type="static_transform_publisher" name="world_pillar" args="1 0 0 0 0 0 world pillar 100" />


	<!-- Node from hermes_virtual_robot -->
	<node name="hermes_virtual_robot" pkg="hermes_virtual_robot" type="hermes_virtual_robot_main" respawn="false" output="screen" />

	 <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
         <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    	 <param name="/use_gui" value="true"/>
	 </node>

	<!-- Rviz Visualization-->
	<arg name="config" value="true" />
 	<arg unless="$(arg config)" name="command_args" value="" />
	<arg     if="$(arg config)" name="command_args" value="-d $(find hermes_virtual_robot)/ros/launch/rviz.rviz" />
  
  	<node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
		args="$(arg command_args)" output="screen">
	</node>
</launch>
